__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.sqlite3
*.env
.env.*
.envrc
.venv/
venv/
pip-wheel-metadata/
poetry.lock
.vscode/
*.db
instance/
*.egg-info/
*.pid
*.seed
*.pid.lock
docker-compose.override.yml
docker-compose.dev.yml
*.tar
*.bak
volumes/
**/node_modules/
*.iml
.DS_Store
*.swp
*.swo
*.orig
.coverage
htmlcov/
.tox/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.cache/
tests/__pycache__/
